.message-form-class {
  margin-top: 80px;
  margin-bottom: 120px;
}
.message-form-class .container {
  background-color: #f0efe9;
  padding: 60px 30px;
}
.message-form-class .container h2 {
  font-family: "Dm Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.message-form-class .container .errorMessage {
  text-align: center;
  color: rgb(220, 76, 76);
  font-size: 20px;
}
.message-form-class .container form .form-input {
  display: block;
  width: 100%;
  padding: 15px 30px;
  color: #7f7f7f;
  border: 1px solid #f0efe9;
  border-radius: 25px;
  outline: none;
}
.message-form-class .container form .form-input-error {
  display: block;
  width: 100%;
  padding: 15px 30px;
  color: #975f5f;
  border: 1px solid #e23c3c;
  border-radius: 25px;
  outline: none;
}
.message-form-class .container form .textarea {
  resize: none;
  height: 160px;
}
.message-form-class .container form input:focus,
.message-form-class .container form textarea:focus {
  border: 1px solid rgba(194, 193, 188, 0.6588235294);
}
.message-form-class .container form .btn-theme {
  text-align: center;
}